*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
}
$font-noir: #111;
$primary-white-color: #f1f1f1;

section{
    font-size: 30px;
    margin-top: 150px;

    .slider{
        overflow: hidden;
        display: flex;
        
        .slider-1{
            flex-shrink: 0;
            background: $font-noir;
            min-width: 100%;
            display: flex;
            animation: slide 30s infinite;
        }
        
        a{
            flex-shrink: 0;
            padding: 25px;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: $primary-white-color;

            i{
                margin-right: 10px;
                width: 35px;
            }
        }
    }
}
@keyframes slide {
     to{
        transform: translateX(-100%);
    }
}